## Model Development:

### Importing libraries:

In [95]:
import pandas as pd
import numpy as np

### Opening the file:

In [96]:
df = pd.read_csv('cleaned_laptops.csv')
df.head()

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram_in_GB,Memory,Gpu,OpSys,Weight_in_kgs,Price_in_Rupees
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,115213.34
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,77308.84
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,1.86,49450.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,1.83,218220.70
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,155109.60

## One Hot encoding:

In [97]:
com_dummies = pd.get_dummies(df.Company)
com_dummies

,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,HP,Huawei,LG,Lenovo,MSI,Mediacom,Microsoft,Razer,Samsung,Toshiba,Vero,Xiaomi
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1299,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1300,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1301,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1302,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [98]:
type_dummies = pd.get_dummies(df['TypeName'])
type_dummies

      2 in 1 Convertible  Gaming  Netbook  Notebook  Ultrabook  Workstation
0                      0       0        0         0          1            0
1                      0       0        0         0          1            0
2                      0       0        0         1          0            0
3                      0       0        0         0          1            0
4                      0       0        0         0          1            0
...                  ...     ...      ...       ...        ...          ...
1298                   1       0        0         0          0            0
1299                   1       0        0         0          0            0
1300                   0       0        0         1          0            0
1301                   0       0        0         1          0            0
1302                   0       0        0         1          0            0

[1303 rows x 6 columns]

In [99]:
os_dummies = pd.get_dummies(df['OpSys'])
os_dummies

,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
1298,0,0,0,0,0,1,0,0,0
1299,0,0,0,0,0,1,0,0,0
1300,0,0,0,0,0,1,0,0,0
1301,0,0,0,0,0,1,0,0,0
1302,0,0,0,0,0,1,0,0,0

In [100]:
df = pd.concat([df,com_dummies,type_dummies,os_dummies],axis='columns')
df.head()

,Unnamed: 0,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram_in_GB,Memory,Gpu,...,Workstation,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,...,0,0,0,0,0,0,0,0,0,1
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,...,0,0,0,0,0,0,0,0,0,1
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,...,0,0,0,0,0,1,0,0,0,0
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,...,0,0,0,0,0,0,0,0,0,1
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,...,0,0,0,0,0,0,0,0,0,1

In [101]:
df = df.drop('Company',axis='columns')
df = df.drop('TypeName',axis='columns')
df = df.drop('OpSys',axis='columns')

In [102]:
df.head()

,Unnamed: 0,Product,Inches,ScreenResolution,Cpu,Ram_in_GB,Memory,Gpu,Weight_in_kgs,Price_in_Rupees,...,Workstation,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
0,1,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,1.37,115213.34,...,0,0,0,0,0,0,0,0,0,1
1,2,Macbook Air,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,1.34,77308.84,...,0,0,0,0,0,0,0,0,0,1
2,3,250 G6,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,1.86,49450.00,...,0,0,0,0,0,1,0,0,0,0
3,4,MacBook Pro,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,1.83,218220.70,...,0,0,0,0,0,0,0,0,0,1
4,5,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,1.37,155109.60,...,0,0,0,0,0,0,0,0,0,1

## Final dataset:

In [103]:
df = df.drop(['Product','Inches','ScreenResolution','Cpu','Gpu','Memory','Weight_in_kgs'],axis='columns')
df.head()

,Unnamed: 0,Ram_in_GB,Price_in_Rupees,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,...,Workstation,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
0,1,8,115213.34,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,8,77308.84,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,8,49450.00,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,16,218220.70,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,8,155109.60,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

## Building a Model

In [104]:
X = df.drop(['Price_in_Rupees'],axis='columns')
X.head()

,Unnamed: 0,Ram_in_GB,Acer,Apple,Asus,Chuwi,Dell,Fujitsu,Google,HP,...,Workstation,Android,Chrome OS,Linux,Mac OS X,No OS,Windows 10,Windows 10 S,Windows 7,macOS
0,1,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,8,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,4,16,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,8,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [105]:
y = df['Price_in_Rupees']
y.head()

0    115213.34
1     77308.84
2     49450.00
3    218220.70
4    155109.60
Name: Price_in_Rupees, dtype: float64

### Splitting into Train & Test:

In [106]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

### Linear Regression model:

In [107]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.7524242979561466

### K Fold cross validation -- to check accuracy:

In [108]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.6716569 , 0.71067077, 0.72046468, 0.73262074, 0.69048288])

### Finding best model using GridSearchCV:

In [109]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 450889357261.34143, tolerance: 353958273.4936929
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 466457605893.4253, tolerance: 352929258.8949499
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 500615413441.1342, tolerance: 363782828.7966327
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 517501367781.81024, tolerance: 374425527.93173146
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 507816850043.10645, tolerance: 387314564.6705946
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 23747699955.26465, tolerance: 352929258.8949499
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 26156578923.00232, tolerance: 363782828.7966327
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 24447995394.523804, tolerance: 374425527.93173146
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 237316809147.851, tolerance: 353958273.4936929
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 480335934796.9324, tolerance: 352929258.8949499
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 466293207050.36646, tolerance: 363782828.7966327
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 437774063130.191, tolerance: 374425527.93173146
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 522397535616.3125, tolerance: 387314564.6705946
  positive)
C:\Users\Hari Prasad\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15125863850.194214, tolerance: 374425527.93173146
  positive)

,model,best_score,best_params
0,linear_regression,0.705179,{'normalize': False}
1,lasso,0.705266,"{'alpha': 2, 'selection': 'cyclic'}"
2,decision_tree,0.473398,"{'criterion': 'friedman_mse', 'splitter': 'ran..."

Since, Linear Regression is the best fit. We can use it (that we have already created)

### Testing the model:

In [110]:
def predict_price(Ram_in_GB,Company,TypeName,OpSys):    
    loc_index = np.where(X.columns==Company)[0][0]
    loc_index1 = np.where(X.columns==TypeName)[0][0]
    loc_index2 = np.where(X.columns==OpSys)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Ram_in_GB

    if loc_index >= 0:
        x[loc_index] = 1
    if loc_index1 >= 0:
        x[loc_index1] = 1
    if loc_index2 >= 0:
        x[loc_index2] = 1
    
    print('Price: ',lr_clf.predict([x])[0])

In [111]:
predict_price('2','Lenovo','Notebook','Windows 10')

Price:  23686.628824845277